@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }

body {
  margin:  0;
}
.nav {
  text-align: right;
  padding: .5em;
  border-radius:  4px;
 }

.nav ul {
  list-style-type: none;
 }

.nav a {
  display:  inline-block;
  text-decoration: none;
  padding: .5em;
  font-family: sans-serif;
  color: rgb(230,230,230);
 }

header {
  background-color: #642962;
  padding: 0;
  color: white;
 }

 .nav a:hover {
  color: white;
  text-decoration: underline;

 }

 .logo {
    width: 10em;
    height: auto;
    float: left;
    vertical-align: center;
    padding-left: 2em;
    padding-top:  1em;
    fill: rgb(230,230,230)
  }

.logo:hover {
  fill: white;
}

.cls2:hover {
  fill: white;
}
