@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }

html {
  font-family: sans-serif;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: program-narrow, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.nav {
  text-align: right;
  padding: .5em;
  border-radius:  4px;
 }

.nav ul {
  list-style-type: none;
 }

.nav a {
  display:  inline-block;
  text-decoration: none;
  padding: .5em;
  color: rgb(230,230,230);
 }

header {
  background-color: #642962;
  padding: 0;
  color: white;
 }

 .nav a:hover {
  color: white;
 }

 .logo {
    width: 10em;
    height: auto;
    float: left;
    vertical-align: center;
    padding-left: 2em;
    padding-top:  1em;
    fill: rgb(230,230,230);
  }

.logo:hover {
  fill: white;
}

.cls2:hover {
  fill: white;
}

.soc-linkdn, .soc-facebook, .soc-google {
    display: block;
    background-image: url(../assets/asset2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
}

.soc-facebook {
    background-image: url(../assets/asset1.png);
}

.soc-google {
    background-image: url(../assets/asset3.png);
}

.social {
    font-size: 1.2rem;
    color: #6a1d15;

}
.soc {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-top: 1em;
}

.soc li {
    height: 3em;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
}

.portfoliomain {
  width: 100%;
}

.brandprocess {
  width: 100%;
  margin-left: .5em;
}

.box-1 {
  /* padding: 0.5em; */
}

.image-6 {
  /* display: flex; (css-tricks flex-box)*/

 }

 .lol {
  /* this won't work on all browsers */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 }

 .lol .box-1 {
  /* this won't work on all browsers */
  margin: 3px;
  flex: 1 0 32.333333%;
  /* background: url('http://placehold.it/250x250') no-repeat;
  background-size: cover;
  background-position: center; */
 }

 .lol .box-1 img {
  width: 100%;
  display: block;
 }

.intro-6 {

  max-width: 25em;
 }

 .intro {
  width: 100%;
 }

h1 {
  font-size: 4em;
  margin-top: 0;
  margin-bottom:  0;
  color: grey;
  color: #642962;
}

 .top div {
  flex: 0 0 40%;
  flex-grow: 1;
 }

 .dogdiv {
  text-align: center;
 }

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100em;
  width: 100%;
  padding: 0 2em 2em 2em;
}

.dog {
  width:  23em;
  /*display:  flex;
  flex-direction: row;
  display: block;
  display: inline-block;*/
  vertical-align:  center;
  padding-top: 3%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align:  center;
  text-align:  left;
  color: grey;
  padding-left: .5em;
  color: #642962;
}

.email {
  text-align: center;
}

footer {
  background-color: #642962;
  padding: 0;
  color: white;
  padding-bottom: 1.5em;
 }

 h3 {
  text-align: center;
  font-size: 2.5em;
  padding-top: .5em;
 }

.arrow-1 {
  position: absolute;
  left: .5em;
  width: 10%;
  max-width: 5em;
  top: 40%;
 }

 .arrow-2 {
  position: absolute;
  width: 10%;
  max-width: 5em;
  top: 40%;
  right: .5em;
  }

 .portfolio {
  position: relative;
  }

.contact {
  text-align: center;
  padding: .2em;
 }

.outro {
  padding: 0 18%;
  max-width: 28em;
  margin: auto;
 }

.objective {
  flex: 0 0 45%;
  padding: 0 1em;
}

.solution {
  flex: 0 0 45%;
  padding: 0 1em;
  border-left: 1px solid #000;
}

.portfoliopages {
  padding: .5em;
}

.dropdown {
  background-color: #642962;
  color: white;
  text-align: center;
  padding: .5em;
  font-size: 1.5em;
}

.borders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
}

.aboutr {
  text-align: center;
  font-size: 1.5em;
}

.aboutf {
  text-align: center;
  font-size: 1.5em;
}

.descrip {
  margin-right: 3em;
  margin-left: 3em;
}

.finalp {
  width: 100%;
}

.processcontent {
  padding-right: 4em;
  padding-left: 4em;
  max-width: 60em;
  margin: 0 auto;
}

.port-1 {
  width: 100%;
}

.vidya {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
